RESEND_API_KEY=re_xxxxxxxxxxxx
NOTIFICATION_EMAIL=info@nammaoffice.com
RECAPTCHA_SECRET_KEY=
NEXT_PUBLIC_RECAPTCHA_SITE_KEY=
NEXT_PUBLIC_GA_ID=G-XXXXXXXXXX
NEXT_PUBLIC_GTM_ID=GTM-XXXXXXX
NEXT_PUBLIC_META_PIXEL_ID=
NEXT_PUBLIC_WHATSAPP_NUMBER=919092109213
NEXT_PUBLIC_PHONE_NUMBER=+91 9092109213
